USE [GraphProjectDB]
GO
/****** Object:  Table [dbo].[GraphPresets]    Script Date: 30/08/2026 14:10:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[GraphPresets](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[XLabel] [nvarchar](100) NULL,
	[XUnit] [nvarchar](50) NULL,
	[YLabel] [nvarchar](100) NULL,
	[YUnit] [nvarchar](50) NULL,
	[DeviceID] [varchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[RawGraphData]    Script Date: 30/08/2026 14:10:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[RawGraphData](
	[UploadID] [varchar](36) NULL,
	[RowIndex] [int] NULL,
	[ColumnName] [varchar](255) NULL,
	[Value] [varchar](255) NULL,
	[CreatedAt] [datetime] NULL,
	[DeviceID] [varchar](255) NULL
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[RawGraphData] ADD  DEFAULT (getdate()) FOR [CreatedAt]
GO
/****** Object:  StoredProcedure [dbo].[ClearDeviceRawData]    Script Date: 30/08/2026 14:10:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[ClearDeviceRawData]
	-- Add the parameters for the stored procedure here
	@DeviceID varchar(255)
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

    -- Insert statements for procedure here
	DELETE FROM [dbo].[RawGraphData] 
    WHERE DeviceID = @DeviceID;
END
GO
/****** Object:  StoredProcedure [dbo].[CreateGraphPreset]    Script Date: 30/08/2026 14:10:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[CreateGraphPreset] 
	-- Add the parameters for the stored procedure here
    @xlabel varchar(255),
    @xunit varchar(255),
    @ylabel varchar(255),
    @yunit varchar(255),
    @DeviceID varchar(255)
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

    -- Insert statements for procedure here
	INSERT INTO [dbo].[GraphPresets] (xlabel, xunit, ylabel, yunit, DeviceID)
    VALUES (@xlabel, @xunit, @ylabel, @yunit, @DeviceID);
END
GO
/****** Object:  StoredProcedure [dbo].[DeleteGraphPreset]    Script Date: 30/08/2026 14:10:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[DeleteGraphPreset]
	-- Add the parameters for the stored procedure here
	@id int
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

    -- Insert statements for procedure here
	DELETE FROM [dbo].[GraphPresets] 
    WHERE id = @id;
END
GO
/****** Object:  StoredProcedure [dbo].[GetGraphPresets]    Script Date: 30/08/2026 14:10:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		Darius
-- Create date: 13/07/2026
-- Description:	Getting All The Graph Presets
-- =============================================
CREATE PROCEDURE [dbo].[GetGraphPresets]
	-- Add the parameters for the stored procedure here
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

    -- Insert statements for procedure here
	SELECT Id, XLabel, XUnit, YLabel, YUnit
       FROM GraphPresets;
END
GO
/****** Object:  StoredProcedure [dbo].[InsertRawData]    Script Date: 30/08/2026 14:10:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[InsertRawData]
	-- Add the parameters for the stored procedure here
	@UploadID varchar(255),
    @RowIndex int,
    @ColumnName varchar(255),
    @Value varchar(MAX),
    @DeviceID varchar(255)
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

    -- Insert statements for procedure here
	INSERT INTO [dbo].[RawGraphData] (UploadID, RowIndex, ColumnName, Value, DeviceID)
    VALUES (@UploadID, @RowIndex, @ColumnName, @Value, @DeviceID);
END
GO
/****** Object:  StoredProcedure [dbo].[UpdateGraphPreset]    Script Date: 30/08/2026 14:10:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[UpdateGraphPreset]
	-- Add the parameters for the stored procedure here
	@id int,
    @xlabel varchar(255),
    @xunit varchar(255),
    @ylabel varchar(255),
    @yunit varchar(255)
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

    -- Insert statements for procedure here
	UPDATE [dbo].[GraphPresets]
    SET xlabel = @xlabel, xunit = @xunit, ylabel = @ylabel, yunit = @yunit
    WHERE id = @id;
END
GO
