USE [GraphProjectDB]
GO
/****** Object:  Table [dbo].[GraphPresets]    Script Date: 15/08/2026 12:28:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[GraphPresets](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[XLabel] [nvarchar](100) NULL,
	[XUnit] [nvarchar](50) NULL,
	[YLabel] [nvarchar](100) NULL,
	[YUnit] [nvarchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[RawGraphData]    Script Date: 15/08/2026 12:28:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[RawGraphData](
	[UploadID] [varchar](36) NULL,
	[RowIndex] [int] NULL,
	[ColumnName] [varchar](255) NULL,
	[Value] [varchar](255) NULL,
	[CreatedAt] [datetime] NULL
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[RawGraphData] ADD  DEFAULT (getdate()) FOR [CreatedAt]
GO
/****** Object:  StoredProcedure [dbo].[GetGraphPresets]    Script Date: 15/08/2026 12:28:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		Darius
-- Create date: 13/07/2026
-- Description:	Getting All The Graph Presets
-- =============================================
CREATE PROCEDURE [dbo].[GetGraphPresets]
	-- Add the parameters for the stored procedure here
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

    -- Insert statements for procedure here
	SELECT Id, XLabel, XUnit, YLabel, YUnit
       FROM GraphPresets;
END
GO
